* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: rgb(244, 249, 249, 0.1);
    background-image: radial-gradient(circle at 3% 7%, rgba(132, 223, 255) 19%, rgba(132, 223, 255, 0.7) 19.05% 25%, rgb(132, 223, 255, 0.4) 25.07% 31%, rgba(132, 223, 255, 0.15) 31.09%),
        radial-gradient(circle at 98% 105%, rgba(132, 223, 255) 17%, rgba(132, 223, 255, 0.7) 17% 20%, rgba(132, 223, 255, 0.4) 20.2% 23%, rgba(132, 223, 255, 0.12) 23.4%);
    width: 100vw;
    height: 100vh;
    /* To prevent first child from pushing the main container along with it when margin is added. It is the default behavior of margins */
    overflow: hidden;
}

.main-container {
    width: 75vw;
    height: 77vh;
    background-color: rgb(244, 249, 249);
    background-image: radial-gradient(circle at 100%, rgba(132, 223, 255) 28%, rgba(132, 223, 255, 0.7) 28.05% 33%, rgb(132, 223, 255, 0.4) 33.07% 39%, rgba(132, 223, 255, 0.12) 39.09%);
    margin: 12vh auto;
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
}

.container {
    width: 55%;
    border: 1px solid transparent;
    padding: 2rem;
}

.container nav {
    width: 70%;
    margin: 0 auto;
}

.container nav ul {
    text-align: center;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
}

.container nav ul li {
    width: 7rem;
    display: inline-block;
    font-size: 1.3rem;
    color: grey;
    border-bottom: 3px solid grey;
    cursor: pointer;
}

.container .active {
    color: rgba(132, 223, 255, 0.7);
    border-color: rgba(132, 223, 255, 0.7);
}

/* LOGIN FORM */

form {
    padding-top: 1rem;
    text-align: center;
}

form div:first-child {
    margin-top: 1.5rem;
}

form div {
    position: relative;
    margin-bottom: 1.5rem;
    text-align: center;
}

form div span {
    width: 2.8rem;
    height: 3rem;
    line-height: 2.7;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(132, 223, 255, 0.4);
    padding-left: 1rem;
    text-align: initial;
}

form div input {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 3rem;
    border-radius: 40px;
    padding-left: 3.5rem;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border-style: outset;
    border-color: rgba(132, 223, 255, 0.4);
}

form div:last-child {
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

form div a {
    line-height: 1.3;
}

form button {
    font-size: 0.9rem;
    height: 2.2rem;
    width: 8rem;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid rgba(132, 223, 255, 1);
    background-color: rgba(132, 223, 255, 0.3);
}

form button:hover {
    background-color: rgba(132, 223, 255, 0.8);
}

.hiddenForm {
    display: none;
}