<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <section>
        <div class="main-container">
            <nav class="box-shadow upper-nav">
                <ul>
                    <li> <a href="{{ url_for('dashboard') }}">Home</a> </li>
                    <li> <a href="{{ url_for('get_genre') }}">Genres</a> </li>
                </ul>
            </nav>
            <div class="container" style="width: 60%;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div style="margin-top: 15px;">
                        {% for message in messages %}
                            <p class="flashes">{{message}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                <form action="{{url_for('add_book')}}" name="bookForm" class="loginForm " method="post" style="width: 69%;">
                    <div class="field">
                        <span><i class="bi bi-book"></i></span>
                        <input type="number" name="isbn" id="isbn" placeholder="Book's Isbn Number" required>
                    </div>
                    <div class="field">
                        <span><i class="bi bi-book"></i></span>
                        <input type="text" name="name" id="name" placeholder="Book's Name" required>
                    </div>
                    <div class="field">
                        <span><i class="bi bi-person"></i></span>
                        <input type="text" name="author" id="author" placeholder="Book's Auther Name" required>
                    </div>
                    <div class="field" style="display: inline-block; width: 45%;">
                        <span><i class="bi bi-book"></i></span>
                        <input type="date" name="pubDate" id="pubDate" placeholder="Book's Publistion Date" required>
                    </div>
                    <div class="field" style="display: inline-block; width: 45%;">
                        <span><i class="bi bi-tag"></i></span>
                        <input type="number" name="price" id="price" placeholder="Price of the book" required>
                    </div>
                    <textarea name="description" id="description" cols="70" rows="4" placeholder="Description" style="padding: 1rem; background-color: transparent;"></textarea>
                    <button type="submit"  class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>